<header class="nav-container">
    <div class="web-title">
        <h1 class="title">Node Blog</h1>
        <p class="sub-title">put your mind in here</p>
    </div>
    <nav class="nav">
        <ul class="nav__list">
            <li class="nav__list__item">
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/about-me">About me</a>
            </li>
            <li>
                <a href="/blog/create">Create blog</a>
            </li>
        </ul>
    </nav>
</header>